@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #101010;
  --primary: #e7ebf4;
  --light-primary: #f7f7f9;
}

@layer utilities {
  .bg-gradient {
    background: rgb(211, 203, 241);
    background: linear-gradient(
      149deg,
      rgba(211, 203, 241, 1) 0%,
      rgba(171, 154, 247, 1) 32%,
      rgba(171, 154, 247, 1) 65%,
      rgba(237, 120, 211, 1) 100%
    );
  }
}
